.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 30px;
}

.heading {
  display: flex;
  gap: 1px;
}

.tab-item {
  font-size: 14px;
  text-align: center;
  padding: 10px 12px;
  cursor: pointer;
  border: none;
  color: black;
  background: #f6ffa5;
  border-radius: 30%;
}

.tab-item.active {
  background: #c8ffad;
}

.content {
  padding: 20px;
  background-color: rgb(249, 223, 227);
  height: 300px;
  width: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
