.load-more-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.product {
  padding: 20px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h4 {
  margin: 0;
}

.next-button {
  margin: 20px;
  background-color: bisque;
}
